@model WebAppAPIClient.ViewModel.FlightBooking

@{
    ViewData["Title"] = "BookingDetails";
}

<h1>BookingDetails</h1>

<div>
    <h4>FlightBooking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.TotalSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.TotalSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.BasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.BasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.SeatsBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.SeatsBooked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
    </dl>

    <h5>Information</h5>
    @Html.DisplayFor(model => model.Description)

</div>
<div>
    <br /><br />
    <a asp-action="GetAllFlights">Return to all flights</a>
</div>
