@model WebAppAPIClient.ViewModel.FlightBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>FlightBooking</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.TotalSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.TotalSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.BasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.BasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.SeatsBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.SeatsBooked)
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm("Details", "Flight", new { flightNo = Model.Flight.FlightNo, basePrice = Model.Flight.BasePrice }, FormMethod.Post))
    {

        <b>@Html.Label("Enter your firstname")</b>
        <br />
        @Html.TextBox("firstname", "", new { style = "width: 305px;" })

        <br /><br />
        <b>@Html.Label("Enter your lastname")</b>
        <br />
        @Html.TextBox("lastname", "", new { style = "width: 305px;" })

        <br /><br />
        @*<input type="button" class="btn btn-info btn-sm active" style="width:150px" value="CANCEL" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />*@
        <input type="submit" class="btn btn-info btn-sm active" style="background-color:green;width:150px;" value="BOOK" id="btnSubmit" name="Submit" />
    }
</div>



@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Flight.BasePrice" class="control-label"></label>
                    <input asp-for="Flight.BasePrice" class="form-control" />
                    <span asp-validation-for="Flight.BasePrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
