@model IEnumerable<WebAppAPIClient.Models.FlightModel>

@{
    ViewData["Title"] = "GetAllFlights";

    String ButtonCss = "border-radius: 4px;color:white;";
    var fillRate = 0;

}

<h1>All flights</h1>

<table class="table">
    <caption style="text-align:center">
        @using (Html.BeginForm())
        {
            <input type="submit" value="Show all" style="@ButtonCss background-color:dodgerblue;" />
        }
        </caption>
    <thead>
        <tr>
            <th>
                @using (Html.BeginForm())
                {
                    <p>
                        Find by departure:
                    </p>
                    @Html.TextBox("SDeparture")
                    <input type="submit" value="Search" style="@ButtonCss background-color:deepskyblue;" />

                }
            </th>
            <th>
                @using (Html.BeginForm())
                {
                    <p>
                        Find by destination:
                    </p>
                    @Html.TextBox("SDestination")
                    <input type="submit" value="Search" style="@ButtonCss background-color:deepskyblue;" />

                }
            </th>
            <th>
                @using (Html.BeginForm())
                {
                    <p>
                        Find by date (00.00.0000):
                    </p>
                    @Html.TextBox("SDate")
                    <input type="submit" value="Search" style="@ButtonCss background-color:deepskyblue;" />

                }
            </th>
        </tr>
    </thead>
</table>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Date)*@
                @Html.ActionLink("Date", "GetAllFlights", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsBooked)
            </th>
            <th>
                Fill rate
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.BasePrice)*@
                @Html.ActionLink("Price", "GetAllFlights", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsBooked)
            </td>
            <td>

                @{ 
                    fillRate = (item.SeatsBooked * 100) / @item.TotalSeats;
                }

                @if (fillRate >= 80)
                {
                    <span style="color:red;">
                        @fillRate
                        %
                    </span>
                }

                @if (fillRate >= 50)
                {
                    <span style="color:orange;">
                        @fillRate
                        %
                    </span>
                }
                else
                {
                    <span style="color:forestgreen;">
                        @fillRate
                        %
                    </span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>

            <td>
                @Html.ActionLink("Book", "Details", new { id = item.FlightNo })
            </td>
        </tr>
        }
    </tbody>
</table>
